@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(249 250 251);
}

.upload-progress {
    animation: progress 1s linear infinite;
}

@keyframes progress {
    0% {
        left: -50%;
    }

    75% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}